@font-face {
    font-family: 'NVNPixelFJVerdana8pt';
    src: url('../../assets/fonts/NVN\ PixelFJVerdana8pt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-size: cover;
    font-family: NVNPixelFJVerdana8pt;
}

body{
    background-color: white;
    margin: 0px;
    text-align: center;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

html { overflow-y: hidden; }

